.Button {
    background-color: #DA291C;
    outline: none;
    text-align: center;
    border: none;
    color: white;
    font: inherit;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    position: fixed;
    right: 0px;
    bottom: 50px;
    width: 300px;
}

.Button:hover {
  background-color: #FBE122;
  border: none;
  color: white;
}

.Text {
  font-size: 50px;
}

@media (max-width: 850px) {
  .Button {
    position: relative;
    top: 500px;
    width: 330px;
  }
}
