.ButtonA {
    background-color: #DA291C;
    outline: none;
    text-align: center;
    border: none;
    color: white;
    font: inherit;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    position: fixed;
    left: 250px;
    bottom: 350px;
    width: 300px;
}

.ButtonA:hover {
  background-color: #FBE122;
  border: none;
  color: white;
}

.ButtonB {
    background-color: #DA291C;
    outline: none;
    text-align: center;
    border: none;
    color: white;
    font: inherit;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    position: fixed;
    right: 250px;
    bottom: 350px;
    width: 300px;
}

.ButtonB:hover {
  background-color: #FBE122;
  border: none;
  color: white;
}

.ButtonC {
    background-color: #DA291C;
    outline: none;
    text-align: center;
    border: none;
    color: white;
    font: inherit;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    position: fixed;
    left: 250px;
    top: 400px;
    width: 300px;
}

.ButtonC:hover {
  background-color: #FBE122;
  border: none;
  color: white;
}

.ButtonD {
    background-color: #DA291C;
    outline: none;
    text-align: center;
    border: none;
    color: white;
    font: inherit;
    padding: 20px;
    margin: 20px;
    font-weight: bold;
    position: fixed;
    right: 250px;
    top: 400px;
    width: 300px;
}

.ButtonD:hover {
  background-color: #FBE122;
  border: none;
  color: white;
}

@media (max-width: 850px) {
  .Text {
    font-size: 20px;
  }

  .ButtonA {
    position: inherit;
    bottom: 350px;
    width: 330px;
  }

  .ButtonB {
    position: inherit;
    left: 80px;
    bottom: 270px;
    width: 330px;
  }

  .ButtonC {
    position: inherit;
    left: 80px;
    top: 450px;
    width: 330px;
  }

  .ButtonD {
    position: inherit;
    left: 80px;
    top: 530px;
    width: 330px;
  }
}
