.Button {
    background-color: #DA291C;
    outline: none;
    text-align: center;
    border: none;
    color: white;
    font: inherit;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
}

.Button:hover {
  background-color: #FBE122;
  border: none;
  color: white;
}
